/* CONNECTION PAGE */
.sibg{
  background-color: #f0f0f0;
  padding: 150px 80px;
}

.left-side{
  padding-top: 50px;
  padding-left: -30px;
}
.letfside-fb img{
  width: 300px;
}

.leftside-text{
  padding-left: 30px;
  width: 500px;
}
.leftside-text h4{
  font-size: 25px;
}

.sibg form{
  height: 380px;
  width: 400px;
}

.sibg input{
  height: 50px;
}

.sibg button{
  height: 50px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}

.btcc{
  background-color: #42b72a;
  width: 250px;
}

.modal-p{
  font-size: 12px;
  text-align: start;
}