body{
  background-color: black;
}
/* CONNECTION PAGE */
.sibg{
  background-color: #c4c4c4;
  padding: 120px 50px;
}

.left-side{
  padding-top: 50px;
  padding-left: -30px;
}
.letfside-fb img{
  width: 300px;
}

.leftside-text{
  padding-left: 30px;
  width: 500px;
}
.leftside-text h4{
  font-size: 25px;
}

.sibg form{
  height: 380px;
  width: 400px;
}

.sibg input{
  height: 50px;
}

.sibg button{
  height: 50px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
}

.btcc{
  background-color: #42b72a;
  width: 250px;
  color: #FFF;
}

.modal-p{
  font-size: 12px;
  text-align: start;
}

label, select{
  height: 30px;
}

.body{
  display: flex;
}

/* NAVBAR */
.navbar{
  height: 50px;
}
.recherche{
  height: 40px;
  padding: 10px;
  width: 240px;
  border-radius: 30px;
  background-color: #555454;
}
.recherche input{
  background-color: inherit;
  border: none;
  width: 200px;
}
.navbar img{
  height: 50px;
  width: 50px;
}

/* FOOTER */
.footer{
  font-size: 13px;
}
.footer hr{
  margin: -8px 0 0 -8px;
}
.footer-bottom p{
  margin: -1px;
  width: auto;
}
.footer p:hover{
  border-bottom: 1px solid gray;
  cursor: pointer;
}